---
import Layout from '@/layouts/Layout.astro';
import Container from '@/layouts/Container.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Container class="py-6">
      <h1 class="text-4xl font-bold mb-8">
        Astro Starter Template
      </h1>
      <p>
        With react, tailwind and shadcn/ui
      </p>
    </Container>
	</main>
</Layout>

